<div class="main-wrapper">
    <form class="form-wrapper">
        <div class="content-wrapper">
    
            <div class="form-group-type">
                <label>
                    Name
                    <span class="required">*</span>
                </label>
                <input class="form-control" maxlength="250" type="text" value="Test Run 2/26/2025">
                <div class="form-description">
                    <em>Ex: Test Run 2014-08-01, Build 240 or Version 3.0</em>
                </div>
            </div>
            <div class="form-group-type">
                <label class="text-ref">
                    <span class="pull-left">References</span>
                    <span class="pull-right">?</span>
                </label>
                <input class="form-control" maxlength="250" type="text">
                <div class="form-description">
                    <em>Add reference ID's to external tickets here.</em>
                </div>
            </div>
            <div class="form-separator"></div>
        
            <div class="form-group">
                <label>Milestone</label>
                <div class="dropdown-size">
                    <select class="form-select" aria-label="Default select example"> -->
                        <option></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
        
                    <!-- <mat-form-field class="form-select">
                        <mat-select [formControl]="bankGroupsCtrl" placeholder="Bank">
                          <mat-option>
                            <ngx-mat-select-search [formControl]="bankGroupsFilterCtrl"></ngx-mat-select-search>
                          </mat-option>
                          <mat-optgroup *ngFor="let group of filteredBankGroups | async" [label]="group.name">
                            <mat-option *ngFor="let bank of group.banks" [value]="bank">
                              {{bank.name}}
                            </mat-option>
                          </mat-optgroup>
                        </mat-select>
                      </mat-form-field> -->
        
                </div>
                <div class="form-description">The milestone this test run belongs to.</div>
            </div>
            <div class="form-group">
                <label>Assign To</label>
                <select class="form-select" aria-label="Default select example">
                    <option></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
        
                <div class="form-description">The user to whom the tests of the new test run should initially be assigned. An
                    email is sent to the user if email notifications are enabled.</div>
            </div>
        
            <div class="form-group">
                <label>Dataset</label>
                <div class="dropdown-size"></div>
                <select class="form-select" aria-label="Default select example">
                    <option></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="form-description">Choose a Dataset to be used across this test run.</div>
            </div>
        
            <div class="form-separator"></div>
        
            <div class="form-group">
                <label class="description-label">
                    <span class="icon-group">
                        <div class="icon-markdown-table tag-button">
                            <img alt="table image" src="./markdownTable.png">
                        </div>
                        <div class="icon-markdown-image tag-button">
                            <img alt="table image" src="./markdownImage.png">
                        </div>
                        <div class="icon-markdown-help tag-button">
                            <img alt="table image" src="./help.png">
                        </div>
                    </span>
        
                    Description:</label>
                <textarea class="description" rows="4" cols="5"></textarea>
                <div class="form-description">Choose a Dataset to be used across this test run.</div>
        
            </div>
            <div class="form-separator"></div>
        
        
            <div class="form-group form-control-default">
                <div class="radio">
                    <label>
                        <strong>Include all test cases</strong>
                        <input type="radio" name="testCaseOption" value="includeAll" checked />
                        <p>Select this option to include all test cases in this test run. If new test cases are added to the
                            repository, they are also automatically included in this run.
                        </p>
                    </label>
        
                </div>
                <div class="radio">
                    <label>
                        <strong>Select specific test cases</strong>
                        <input type="radio" name="testCaseOption" value="includeAll" />
                        <p>You can alternatively select the test cases to include in this test run. New test cases are not
                            automatically added to this run in this case.
                        </p>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <strong>Dynamic Filtering </strong>
                        <input type="radio" name="testCaseOption" value="includeAll" />
                        <p>Automatically add test cases based on filter selection. New test cases are automatically added to the
                            run if they match the filter (unless the run is closed).
                        </p>
                    </label>
                </div>
            </div>
        
        
        
        
            <div class="button-group">
                <div>
                    <button class="add-button">
                        <!-- <span class="checkmark">&#10004;</span> -->
                        <i class="bi bi-check"></i>
        
                        Add Test Run
                    </button>
                </div>
                <div>
                    <button class="cancel-button">
                        <span>&#10060;</span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="empty-space">
    </div>
</div>